# Никогда не пушить:
config.py               # токены бота
farm_data_v2.db         # база данных
src/                    # исходник lua (не показывать никому)
obfuscated_script.lua   # обфусцированный скрипт

# Кэш
__pycache__/
*.pyc
